@model ASP_Dot_Net_MVC_CRUD_Template.Models.Item
@{
    ViewData["Title"] = "Create Item";
}

<h2>Create New Item</h2>

<form asp-action="Create">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label asp-for="SampleString"></label>
        <input asp-for="SampleString" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="SampleNumber"></label>
        <input asp-for="SampleNumber" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="SampleDecimal"></label>
        <input asp-for="SampleDecimal" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="SampleBool"></label>
        <input asp-for="SampleBool" class="form-check-input" type="checkbox" />
    </div>
    <div class="form-group">
        <label asp-for="SampleCharacter"></label>
        <input asp-for="SampleCharacter" class="form-control" maxlength="1" />
    </div>
    <button type="submit" class="btn btn-primary mt-2">Save</button>
    <a asp-action="Index" class="btn btn-secondary mt-2">Back</a>
</form>
