@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ASP.NET MVC CRUD</h1>
    <p>Check your <a asp-controller="Item" asp-action="Index">Item List</a>.</p>
</div>
